.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  height: 100%;

  /* add grey color border */
  /* border: 2px dotted #000; */
  display: flex;
  flex-direction: column;
}

.border-custom {
  border: 3px solid #8c8383;
}

.border-custom-dashed {
  margin: 5px;
  border: 3px dashed #8c8383;
}

.content {
  padding: 20px;
}

.fw-bold {
  font-weight: 700;
}

.img-footer {
  border-top: 2px solid #8c8383;
  margin-top: 15px;
 
}

.content p {
  font-size: 15px;
}